@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #28277A;
}
p{
    font-size: 18px;
    line-height: 1.625rem;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    outline-color: rgb(255, 255, 255);
    outline-style: none;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;
}
.titulos{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
/* ----------------------- BARRA DE NAVEGACION (LOGO Y LINKS) ----------------------- */
.nav {
    display: inherit;
    float: right;
}
.navbar{
    z-index: 2;
}
.navbar-brand{
    margin-top: 13px;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(0,0,0,1);
    padding: 10px;
    font-weight: 500;
    transition: all .5s ease;
    font-size: 1rem;
}
.nav-tabs .nav-link{
    border: 1px solid #e5e5eb;
    background-color: white !important;
} 
.nav-link:hover {
    color: rgba(255,255,255,.5);
    transition: all 0.3s ease-in-out;
}
.navbar-dark .navbar-toggler {
    z-index: 10;
}
ul.nav a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
    color: white;
}
.logo-img {
    margin-top: -30px;
}
.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.border-top-blue {
    width: 90px;
    background-color: #0094f0;
    height: 20px;
}
/* ----------------------- BANNER ----------------------- */
.hero{
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/banner.png');
    background-position: center;
    background-size: cover;
    height: 500px;
    padding: 20px;
}
.bt{
    transition: transform 0.1s;
}
.bt:hover{
    transform: scale(1.1);
    }
.bt-candidatos{
    border: 3px solid #0094f0;
    border-radius: 45px;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
}
/*-----------------------CONTENIDO-----------------------*/
.menu a> img{
width: 100px;
}
.voto{
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 80%;
}
.textos{
    border-left: 4px solid #28277A;
    padding-left: 20px;
    padding-right: 10px;
}
.icons1{
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/voto.png'), url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/cedula.png');
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100px;
}
.icons2{
   margin-top: 100px;
}
.icons2 img{
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.icons3{
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/discapacidad.png'), url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/voto.png');
    background-position: top, center;
    background-repeat: no-repeat;
    background-size: 100px;
}
.icons4{
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/adulto.png'), url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/voto.png');
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100px;
}
.icons5{
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/exterior.png'), url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/voto.png');
    background-position: top, bottom;
    background-repeat: no-repeat;
    background-size: 100px;
}
/*-----------------------ACORDEONES--------------------------*/
/*ACORDEONES*/
button.acordion {
    background-color: #d0ebeb;
    color: #28277A;
    width: 100%;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    display: flex;
    font-size: 20px;
    transition: 1s;
    font-weight: 700;
    padding: 15px 0;
    position: relative;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.acordion > .row{
    margin-left: 20px;
}
button.acordion:hover {
    background-color: #43ADE8;
}
button.acordion:after {
    font-family: FontAwesome;
    content: '\002B';
    color: #011C41;
    font-weight: bold;
    position: absolute;
    right: 5px;
    margin: 0 5px 15px 0;
    padding: 0px 14px;
}

button.acordion.active:after {
    font-family: FontAwesome;
    content: "\2212";
    font-weight: bold;
    transition: all .5s  ease;
}

div.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 16px;
    width: 100%;
    margin: .5rem 0;
}

div.panel p {
    font-family: 'Open Sans';
    color: #132256;
}
.panel-child {
    padding: 20px;
    width: 100%;
}

.pre-footer{
    background-image: url('https://s3.amazonaws.com/gobcl-prod/public_files/Campa%C3%B1as/Chile-Vota-por-Chile/img/banner-servel.png');
    background-position: center;
    background-size: cover;
    height: 380px;
    padding: 20px;
}
.col-6.btn-servel {
    display: grid;
    align-content: center;
    justify-content: center;
}
/* ----------------------- REDES SOCIALES ----------------------- */
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid #000000;
}
.redes-sociales > div > a{
    color: #000;
}
.socialmedia{
    display: flex;
    justify-content: flex-end;
}
.socialmedia a{
    color: #0f1955;
}
.siguenos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redessociales > .fa-instagram, .redessociales.fa-twitter, .redessociales.fa-facebook-f, .redessociales.fa-flickr, .redessociales.fa-youtube {
    padding: 5px 8px;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
    color: white;
}
.fa-instagram, .fa-twitter, .fa-facebook-f, .fa-flickr, .fa-youtube {
    padding: 5px 8px;
    display:flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}
a i.fa-facebook-f:hover{
    color:#3B5998;
}
a i.fa-twitter:hover{
    color:#00acee;
}
a i.fa-instagram:hover{
    color:#bc2a8d;
}
a i.fa-flickr:hover{
    color:#FF0084;
}
a i.fa-youtube:hover{
    color:#c4302b;
}
.fa-instagram:hover, .fa-twitter:hover, .fa-facebook-f:hover, .fa-flickr:hover,.fa-youtube:hover {
    transition: all 0.3s ease-in-out;
    border-radius:2px;
    -webkit-border-radius: 2px;  /* Firefox 1-3.6 */
    -moz-border-radius: 2px; 
}

.col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
    float: left;
}

.bt-ft{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}

/* ----------------------- FOOTER ----------------------- */
.footer {
    bottom: 0;
    width: 100%;
    line-height: 1.5rem;
    background-color: #f8f9fa;
    color: #28277A;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #192e85 !important;
}
.separa-logo {
    display: inline-block;
}
.gob-txt{
    line-height: 1.2rem;
    text-align: right;
}
.redes-sociales{
    display:flex;
    justify-content:stretch;
    justify-content: center;
    border-left: 2px solid #28277A;
}
.socialmedia{
    display: flex;
    text-align: left;
    flex-direction: row;
}
footer a, footer a:visited, footer a:active{
    color: #28277A;
    font-weight: 400;
}
footer a:hover {
    color: #28277A;
    text-decoration: none;
}
/* mantiene el logo de gob en el bottom de la pagina */
.vertical-align-bottom{
    position: absolute;
    bottom: 0;
}
ul li {
    padding-bottom: 15px;
}
.separador {
    color: #0F69C4;
}

@media (max-width: 992px) {
    .redes-sociales{
        display: none;
    }
    .socialmedia{
        display: flex;
        justify-content: center;
    }
    .fab{
        font-size: 22px;
    }
    .menu a> img{
        width: 90px;
        }
}

@media (max-width: 768px) {
   .hero{
       height: auto;
   }
   .titulos{
       font-size: 20px;
   }
   .menu a> img{
    width: 50px;
    }
    .bt-candidatos{
       font-size: 10px;
       padding: 5px;
       border: 2px solid #0094f0;
    }
    .col-12, .col-md-9, .col-lg-9, .col-4, .col-md-4, .col-md-3, .col-lg-3, .col {
        float: left;
    }
    button.acordion {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .icons2{
        margin-top: 90px;
    }
    .icons2 img{
        width: 60px;
    }
    .acordion h3{
        font-size: 14px;
    }
    .acordion > .row{
        margin-left: 5px;
    }
    .icons1,.icons3,.icons4,.icons5{
        background-size: 60px;
    }

    .pre-footer{
        height: auto;
    }
    .separa-logo {
        display: grid;
        grid-template-rows: 45px 46px;
        row-gap: 20px;
    }
    .gob-txt{
        text-align: left;
        font-size: 14px;
    }
    .siguenos{
        align-items: flex-start;
    }
}
